html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
}

body {
	line-height: 1;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


a {
  text-decoration: none;
  color: black;
}


/* HEADER */
header {
  /* background-color: rgba(27, 75, 59, 0.897); */
  background-color: rgba(2, 46, 35, 0.975);
}

.brand{
  display: flex;
  align-items: center;
}

.brand p {
  padding-left: 0.5rem;
  color:white;
  font-size: 1.7rem;
  font-family: 'Dancing Script', cursive;
}

#nav-menu{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#nav-menu .icon {
  width: 40px;
  background-color: white;
  border-radius: 50px;
}

.nav-link {
  padding: 0 1rem;
  color: white;
}

/* ALL FORMS */
form {
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* HOME */
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  /* background-position: center; */
  text-align: end;
  padding: 130px 10px 170px 10px;
  color: white;
  text-align: center;
}

.banner > * {
  padding-top: 1rem;
}

.banner > h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

.banner > p {
  font-size: 1em;
}

.brand-name {
  font-family: 'Dancing Script', cursive;
  font-size: larger;
}

button.banner-btn {
  /* width: 180px; */
  padding: 0.7rem;
  background-color: white;
  border-radius: 2px;
  border: 0.5px solid rgb(0, 0, 0, 0);
  margin-top: 2rem;
  background-color: rgba(2, 46, 35, 0.5);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

button.banner-btn a {
  color: white;
  font-size: 1.1em;
}

button.banner-btn:hover{
  background-color: rgba(2, 46, 35, 0.99);
  /* border: 0.5px solid black; */
}

button.btn-discover-all-plants{
  padding: 0.7rem;
  background-color: white;
  border-radius: 2px;
  border: 0.5px solid rgb(0, 0, 0, 0);
  margin: 2rem auto;
  background-color: rgba(2, 46, 35, 0.5);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
  display: block;
}

button.btn-discover-all-plants a {
  color: white;
  font-size: 1.1em;
}

button.btn-discover-all-plants:hover{
  background-color: rgba(2, 46, 35, 0.99);
  /* border: 0.5px solid black; */
}





/* CARD PLANT */
.all-plants {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.all-plants h2, .all-plants h1 {
  width: 100%;
  text-decoration: underline;
  margin-bottom: 1rem;
  font-size: 2.8em;
  line-height: 1.1;
}

.plant-card{
  margin: 1rem 0 ;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 300px;
  padding: 0.5rem;
  border-radius: 1.5px;
  transition: transform .1s;
}

.plant-card:hover{
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
  }

.plant-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5px;
}

.plant-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

.plant-card p {
  font-size: 14px;
  opacity: .7;
  margin: 0.5rem 0 0 0;
}

button.plant-card-btn {
  background-color: rgba(27, 75, 59, 0.8);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  margin: 0.5rem 0 0 0;
}

.plant-card-btn a {
  color: white;
  border: none;
}

/* FOOTER */
footer {
  /* background-color: rgba(27, 75, 59, 0.897); */
  background-color: rgba(2, 46, 35, 0.975);
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github, .fa-linkedin{
  font-size: 20px;
  padding: 0 0.5rem;
  color: white;
}

footer a svg:hover {
  color: rgb(153, 153, 153, 0.8)
}
