html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* html, body {
  height: 100%;
  margin: 0;
  background-color: whitesmoke;
} */

body {
	line-height: 1;
  text-align: center;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


a {
  text-decoration: none;
  color: black;
}

main {
  margin-top: 60px;
  min-height: calc(100vh - 120px);
}

.error {
  padding: 0.5rem 0;
  color: indianred;
}

.success {
  padding: 0.5rem 0;
  color: forestgreen;
}

/* HEADER */
header {
  background-color: rgba(2, 46, 35, 0.975);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 3;
}

.brand{
  display: flex;
  align-items: center;
}

.brand span {
  padding-left: 0.5rem;
  color:white;
  font-size: 1.7rem;
  font-family: 'Dancing Script', cursive;
}

#nav-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

#nav-menu .icon {
  width: 40px;
  background-color: white;
  border-radius: 50px;
}

.nav-links-mobile{
  display: flex;
  align-items: center;
}

.nav-links-tablet, .nav-links-desktop, .menu-user {
  display: none;
}

.nav-link {
  padding: 0 0.8rem;
  color: white;
  cursor: pointer;
}

.fa-bag-shopping, .fa-user, .fa-user-gear, .fa-user-check {
  color: white;
  width: 25px;
  height: 25px;
}

.link-to-basket {
  position: relative;
}

.nbItems {
  background-color: white;
  /* padding: 1px; */
  color: rgba(2, 46, 35, 0.6);
  font-weight: bold;
  position: absolute;
  right: 38%;
  top: 35%;
  width:45%;
  text-align: right;
  text-shadow: 0.5px black;
}

.connexion-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.connexion-menu button {
  width: 190px;
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(27, 75, 59, 0.8);
  border: none;
  border-radius: 2px;
  font-size: 1rem;
}

.connexion-menu button:hover {
  background-color: rgba(2, 46, 35, 0.99);
}

.connexion-menu-link {
  padding: 1rem;
  color: white;
}

.connexion-menu .fa-xmark {
  color: "red";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 65px;
  right: 10px;
  cursor: pointer;
}

/* ALL FORMS */
section.forms {
  padding-top: 2rem;
}
form {
  margin: 0;
  padding: 0;
  width: 200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



/* HOME */
.banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://images.unsplash.com/photo-1530049478161-0780526964f4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  /* background-position: center; */
  text-align: end;
  padding: 130px 10px 170px 10px;
  color: white;
  text-align: center;
}

.banner > * {
  padding-top: 1rem;
}

.banner > h1 {
  font-size: 2.8em;
  line-height: 1.1;
}

.banner > p {
  font-size: 1em;
}

.brand-name {
  font-family: 'Dancing Script', cursive;
  font-size: larger;
}

button.banner-btn {
  /* width: 180px; */
  padding: 0.7rem;
  background-color: white;
  border-radius: 2px;
  border: 0.5px solid rgb(0, 0, 0, 0);
  margin-top: 2rem;
  background-color: rgba(2, 46, 35, 0.5);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
}

button.banner-btn a {
  color: white;
  font-size: 1.1em;
}

button.banner-btn:hover{
  background-color: rgba(2, 46, 35, 0.99);
  /* border: 0.5px solid black; */
}

button.btn-discover-all-plants{
  padding: 0.7rem;
  background-color: white;
  border-radius: 2px;
  border: 0.5px solid rgb(0, 0, 0, 0);
  margin: 2rem auto;
  background-color: rgba(2, 46, 35, 0.5);
  box-shadow: 0 0 15px rgba(255,255,255,0.3);
  display: block;
}

button.btn-discover-all-plants a {
  color: white;
  font-size: 1.1em;
}

button.btn-discover-all-plants:hover{
  background-color: rgba(2, 46, 35, 0.99);
}




/* CARD PLANT */
.all-plants {
  margin: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.all-plants h2, .all-plants h1 {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 3em;
  line-height: 1.1;
  font-family: 'Dancing Script', cursive;
}

.plant-card{
  margin: 1rem 0 ;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  width: 300px;
  padding: 0.5rem;
  border-radius: 1.5px;
  transition: transform .2s;
}

.plant-card:hover{
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03);
  }

.plant-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 1.5px;
}

.plant-card h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 0.5rem 0 0 0;
}

.plant-card p {
  font-size: 14px;
  opacity: .7;
  margin: 0.5rem 0 0 0;
}

button.plant-card-btn {
  background-color: rgba(27, 75, 59, 0.8);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  margin: 0.5rem 0 0 0;
}

.plant-card-btn a {
  color: white;
  border: none;
}


/* DETAILS PLANT */

.details-plant{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.details-plant img{
  width: 80%;
  height: auto;
  object-fit: contain;
  margin-top: 1rem;
}

.details-plant-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.details-plant-infos h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
  font-family: 'Dancing Script', cursive;
}

.details-plant-infos h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.details-plant-infos p {
  font-size: 1rem;
  margin: 1rem 0 2rem 0;
  text-align: justify;
  width: 90%;
}

.details-plant-infos > h3 {
  width: 45%;
}

.fa-droplet, .fa-sun, .fa-temperature-low, .fa-temperature-high {
  padding: 0 0.2rem 0 0.4rem;
}

.advices{
  width: 90%;
  text-align: left;
  padding: 1rem;
  border: 1px solid rgba(27, 75, 59, 0.5);
  border-radius: 1px;
  margin: 1rem 0;
}

.advices h3 {
  font-weight: bold;
}

.advices li {
  margin: 0.6rem 0;
}

input#quantity {
  border-radius: 2px;
  width: 100px;
  display: none;
}

.details-plant button {
  border: none;
  background-color: rgba(27, 75, 59, 0.8);
  padding: 0.8rem;
  color: white;
  font-size: 1rem;
  border-radius: 2px;
}


/* BASKET */
.details-basket {
  margin: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-basket h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}

.details-basket button {
  background-color: rgba(27, 75, 59, 0.8);
  padding: 0.5rem;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  margin-top: 1rem;
  width: 100%;
  font-size: 1rem;
  color:white;
}

.details-basket button a {
  color: white;
}

.basket-item {
  background-color: rgba(180, 179, 179, 0.1);
  display: flex;
  margin: 0.7rem 0 ;
  position: relative;
}

.basket-item img {
  width: 30%;
  height: auto;
}

.basket-item-infos {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  text-align: start;
  width: 70%;
}

.basket-item-infos h3 {
  font-size: 1rem;
  width: 100%;
  font-weight: bolder;
}

.basket-item-infos .fa-xmark {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
}

.basket-item-infos .fa-square-plus, .basket-item-infos .fa-square-minus {
  font-size: 25px;
  border: none;
}

.change-quantity-zone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  width: 70%;
}

.change-quantity-zone p {
  width: 100%;
  padding-bottom: 0.3rem;
}

.change-quantity-zone input {
  width: 25px;
  text-align: center;
  border: none;
  height: 21px;
}

.basket-item-infos p#price {
  width: 30%;
  padding-top: 1.5rem;
  text-align: right ;
  font-weight: bold;
}

.summary p {
  font-weight: bold;;
}


/* PAYEMENT - CHECKOUT FORM*/
section.payement {
  padding-top: 2rem;
  border: 2px solid green;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

section.payement > * {
  width: 100%;
}


article.checkoutForm{
  border: 2px solid red;
  width: 400px;
}

.StripeElement {
  height: 5em;
  width: 100%;
}


/* ADMIN */
.admin-dashboard {
  text-align: right;
}

.admin-dashboard h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

section.manage-all-plants{
  text-align: left;
}

.admin-dashboard h2 {
  margin: 2.5rem 0.5rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.admin-dashboard button {
  border-radius: 2px;
  margin: 1rem 0 0;
  width: 160px;
  padding: 0.6rem 0.3rem;
  background-color: rgba(27, 75, 59, 0.8);
  border: none;
  font-size: 1rem;
}

.admin-dashboard button a {
  color: white;
}

.admin-dashboard button.logout {
  margin-right: 10px;
}

.admin-dashboard button.create-product {
  width: 100%;
}

.admin-dashboard table {
  width: 100%;
  margin: 1rem 0.5rem;
}

.admin-dashboard table thead {
  font-weight: bold;
}

.admin-dashboard table, tr, td {
  border: 1px solid black;
  padding: 0.5rem;
  text-align: center;
}

.admin-dashboard table .svg-inline--fa {
  padding: 0 0.2rem;
}

/* PROFILE */
section.profile {
  text-align: right;
}

section.profile h1 {
  width: 100%;
  margin: 1.5rem 0;
  font-size: 3em;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

section.profile .user-data {
  margin: 1.5rem;
  text-align: center;
}

section.profile .user-data h2 {
  text-align: left;
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0 1rem;
}

section.profile .user-data form {
  border: 1px solid rgba(27, 75, 59, 0.8);
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

section.profile .user-data form > label {
  margin: 0.3rem 0;
  text-align: left;
  font-weight: bold;
}

section.profile .user-data form > input {
  margin: 0.3rem auto;
  width: 100%;
}


.profile button {
  border-radius: 2px;
  margin: 1rem 0 0;
  width: 160px;
  padding: 0.6rem 0.3rem;
  background-color: rgba(27, 75, 59, 0.8);
  border: none;
  font-size: 1rem;
  color: white;
}

.profile button a {
  color: white;
}

.profile button.logout {
  margin-right: 10px;
}

.profile button.update-data {
  width: 100%;
}




/* FOOTER */
footer {
  background-color: rgba(2, 46, 35, 0.975);
  z-index: 3;
  color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-github, .fa-linkedin{
  font-size: 20px;
  padding: 0 0.5rem;
  color: white;
}

footer a svg:hover {
  color: rgb(153, 153, 153, 0.8)
}



/*  CHANGEMENT POUR TABLETTES */
@media screen and (min-width: 721px) {

  /* NAVBAR - HEADER */

  .nav-links-mobile, .nav-links-desktop, .menu-user {
    display: none;
  }

  .nav-links-tablet {
    display:flex;
    align-items: center;
  }

  .connexion-menu {
    position: absolute;
    right: 0px;
    top: 60px;
    display: none;
    width: 300px;
    padding-top: 1.5rem;
  }

  .connexion-menu button {
    width: 190px;
    padding: 1rem;
    margin: 1rem 0;
    font-size: 0.8rem;
  }

  .connexion-menu .fa-xmark {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
  }

  .fa-user-regular{
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
  }

  .nav-link {
    font-size: 1.1rem;
    padding-left: 1.3rem;
  }


  /* DETAILS PLANT */

  .details-plant {
    align-items: center;
    justify-content: space-evenly;
  }

  section.details-plant img{
    width: 40%;
    height: auto;
    margin: 2rem 0 1rem;
  }

  .details-plant-infos {
    width: 50%
  }

  .advices h3 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .advices ul {
    display: flex;
    justify-content: space-between;
  }

  .fa-droplet, .fa-sun, .fa-temperature-low, .fa-temperature-high {
    padding: 0 0.2rem;
  }

  /* BASKET */
  .basket-item {
    height: 150px;
    width: 90vw;
  }

  .basket-item img {
    width: 20%;
  }

  /* ADMIN */
  section.manage-all-plants{
    margin: 1rem;
    text-align: center;
  }

  section.manage-all-plants h2 {
    text-align: left;
  }

  .admin-dashboard button.create-product {
    width: 200px;
  }

  .admin-dashboard table .svg-inline--fa {
    padding: 0 1rem;
  }

  /* PROFILE */
  .profile button.update-data {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

}



@media screen and (min-width: 1024px){

  /* NAV HEADER */
  .nav-links-mobile {
    display: none;
  }

  .nav-links-tablet {
    display:none;
  }

  .nav-links-desktop {
    display: flex;
    align-items: center;
  }

  .menu-user {
    background-color: rgba(2, 46, 35, 0.975);
    z-index: 99;
    height: 65px;
    width: 130px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 59px;
    right: 3%;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  .menu-user a:hover {
    background-color: rgba(2, 46, 35, 0.5);
  }

  .menu-user a{
    color: white;
    padding: 0.5rem;
    text-align: center;
  }

  .nav-link {
    padding: 0 1rem;
  }

  /* PLANT-CARD */
  .plant-card{
    margin: 1rem 0.8rem ;
  }

  /* DETAILS PLANT */

  section.details-plant {
    padding: 0 4rem;
  }

  section.details-plant img{
    width: 25%;
    height: auto;
    margin: 2rem 0 1rem;
  }

  .advices {
    width: 70%;
  }

  /* BASKET */

  .details-basket {
    width: 100vw;
  }

  .first-validation{
    display: none;
  }
  ul.basket-all-items {
    width: 80%;
  }

  li.basket-item {
    width: 100%;
  }

  /* PROFILE */
  .profile button.update-data {
    width: 30%;
  }
}
